.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-color);
  margin-top: 80px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.noProducts {
  font-size: 30px;
}

@media screen and (max-width: 1200px) {

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 1px) and (max-width: 767px) {

  .products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}